<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode"
           path="bin/www"
           verb="*"
           modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url=".*" />
          <action type="Rewrite" url="bin/www" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>

